* {
        box-sizing: border-box;
}
body {
        margin: 0;
        direction: rtl;
        text-align: right;
}
.dropdown ul {
        list-style: none;
        padding: 0px;
}
.dropdown a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
}




header {
        height: 105px;
        background: linear-gradient(to bottom, rgb(144,144,144) 90%, rgb(170, 170, 170));
        position: relative;
        
}
#containerforheader {
        width: 900px;
        position: absolute;
        left: 200px;
        height: 100%;


}
#searchcontainer {
        position: absolute;
        left: 0px;
        top: 20px;
}
#menu-container {
        position: absolute;
        top: 60px;
        left: 0px;
      
       
}
#home {
        padding-left: 12px;
}






#logo {
        display: block;
        width: 142px;
        height: 93px;
        position: absolute;
        bottom: -20px;
        right: -8px;
}


.clearfix::after {
        content: "";
        clear: both;
        display: table;
}
.headrop {
        border-right: 2px solid white;
        padding-left: 10px;
        padding-right: 10px;
}

.dropdown, #menu-container>div>ul>li {
        float: right;
        
}

.dropdown-content {
        margin: 0;
        display: none;
        position: absolute;
        background-color: rgb(170, 170, 170); /* change background color*/
        width: 90px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* change box shadow*/
        padding: 12px 16px;
        z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.menu-btn:hover  {
    background-color: red;
}

#container-fields {
        width: 900px;
        height: 355px;
        margin: 0 auto;
        margin-top: 30px;
}
.fieldiv {
        width: 293px;
        height: 355px;
        float: right;
        position: relative;
        border-bottom-right-radius: 25px;


}
.fieldiv img {
        border-bottom-right-radius: 25px;
}
#midfield {
        margin: 0px 9.5px; /*to change to 10.5px after removing the border*/

}
.gray {
        position: absolute;
        bottom: 8px;
        right: 8px;
        background-color: rgba(144,144,144,0.8);
        width: 248px;
        height: 97px;
        border-bottom-right-radius: 25px;
        color: white;
}
.gray p {
        margin: 0px;
        width: 228px;
        height: 52px;
        font-size: 14px;
        position: absolute;
        bottom: 18px;
        right: 10px;
}
.gray h3 {
        width: 228px;
        height: 14px;
        font-size: 14px;
        font-weight:600;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        bottom: 60px;
        right: 10px;
}
.gray>a {
        position: absolute;
        left: 0px;
        bottom: 0px;
}
#container-fieldssec {
        width: 900px;
        height: 216px;
        margin: 0 auto;
        margin-top: 30px;
}
.fieldiv2 {
        width: 293px;
        float: right;
        position: relative;
}
.fieldiv2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 600px;
        color:rgb(87, 87, 87);
}


